# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\arsen\git\efrei-m1-jakartaee-tp2-jsp-servlets\m1-jakartaee-tp3-jsp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
